@font-face {
    font-family: 'dm-sans';
    src: url('fonts/DMSans-Regular.ttf');
}
@font-face {
    font-family: 'dm-sans';
    font-weight: bold;
    src: url('fonts/DMSans-Bold.ttf');
}
@font-face {
    font-family: 'dm-sans-medium';
    src: url('fonts/DMSans-Medium.ttf');
}
@font-face {
    font-family: 'poppins-bold';
    src: url('fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'poppins';
    src: url('fonts/Poppins-Black.ttf');
}
.container{
    margin-bottom: 100px;
    width: 1920px;
}
/* HEADER */ 
body{
    overflow: hidden;
}
body{
display:flex;
align-items:center;
flex-direction: column;
margin:0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#header{    
    background-image: url(img/header_bg.png);
    margin-bottom: 0;
}
.top-menu{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top:30px;
}
.top-nav {
    display: flex;
    flex-direction: row;
}

.top-nav ul, .top-nav li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left:40px;
}
.top-nav ul li img,  .login img{
    height:20px;
    width:auto;
    margin-right: 10px;
}
.logo-text{
    font-family: 'poppins-bold';
    font-size:18px;
}
.nav-ul{
    font-size:16px;
    font-family: 'dm-sans';
}
.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 65px;
    
}
.header-logo img {
    height: 37px;
    width: auto;
    margin-right: 10px;
}
.nav-ul img{
    height: 30px;
    width: auto;
    margin-right:250px;
}
.login{
    color:#0F2137;
    font-family: 'dm-sans-medium';
    font-size:16px;
    margin-right:15px;
    
}

.login img{
    width:18px;
    height: auto;
}
.login a, .login, .top-nav ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #02073E;
    
}
.get-started-button a{
    text-decoration: none;
    text-align: center;
    color: #E5A740;
}
.get-started-button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:15px;
    background:#FFF0D7;
    border-radius: 5px;
    font-family: 'dm-sans';
    font-weight: bold;
    font-size:16px;
    width:131.82px;
    height:44px;
}
.leftside-header , .rightside-header{
display:flex;
flex-direction: row;
}
.header-text{
display:flex;
width: 470px;
height: 116px;
left: 310px;

font-family: 'dm-sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 42px;

color: #02073E;
}
.flex-header-content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.flex-header-content img{
    height:490.8px;
    width:741.1px;
}
.header-content{
    display: flex;
    flex-direction: column;
}
.header-content h1{
    display:flex;
    letter-spacing: -2px;
    font-family: 'dm-sans';
    font-size:64px;
    line-height:80px;
    width: 644px;
    height: 240px;
    left: 310px;
    margin:200px 0 0 0  ;
    color: #02073E;
}
.header-form input::placeholder{
    color:#02073E;

}
.header-form{
    margin: 45px 0px;
    color:#02073E;
}
.header-form input{
    font-family: 'dm-sans';
    padding-left:30px;  
    text-align: left;
    color:#02073E;
    opacity:0.4;
    line-height: 40px;
    font-size: 16px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    width:350px;
    height:60px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header-form button{
    border-radius: 8px;
    border: 0px;
    outline: none;
    height: 60px;
    font-size: 16px;
    line-height: 40px;
    background-color: #FFFFFF;
    color: #02073E;
}
.interactive-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-button{
    margin-left:20px;
    display:flex;
    align-items: center;
    width:163px;
    height:60px;
    flex-direction: column;
    justify-content: center;
    margin-left:15px;
    background:#FFC059;
    border-radius: 5px;
    font-family: 'dm-sans';
    font-weight: bold;
    font-size:18px;
    border:0px;
}
.main-button a{
    text-decoration: none;
    text-align: center;
    color:#FFFFFF;

}
.sponsors{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:490px;
    height:42px;
}
.sponsors p{


font-family: 'DM-Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 42px;

color: #566272;

opacity: 0.6;

}
.sponsors img{
    height:24px;
    width:auto;
}
/* HEADER */ 

/* SUPPORT */
#service{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:64px;
}
.service1, .service2{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width:540px;
    height:230px;
    font-family: 'dm-sans';
    color:#343D48;
    line-height: 32px;
    font-size:15px;
    margin-right:15px;
    border-radius:5px;
    padding-top:20px;
}
.srvc_agent_img{
    padding-top:25px;
    display: flex;
    align-items: start;
}
.service1{  
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.05);
}
.service2{
    background-color: #F6F8FB;
}
.service1 img, .service2 img {
width:80px;
height:80px;
}
.service-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'dm-sans';
    font-weight: bold;
    margin-left:25px;
    color:#02073E;
}
.service-text{
    margin-left:25px;
    width:334px;
}
.service-header img{
    height: 16px;
    width: auto;
}

/* SUPPORT */

/* FEATURES */
#features {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.features-header {
width:503px;
font-family: 'dm-sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* or 150% */
letter-spacing: -1.5px;

color: #0F2137;




}
.features-text{
width:478px;
font-family: 'dm-sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 35px;

color: #0F2137;


}

.features-image img {
    width:790px;
    height:725px;
}

.features-container-shadowed{
width:500px;
height: 150px;
font-family: 'dm-sans';
font-style: normal;
font-size: 15px;
padding:20px 10px 15px 10px;
line-height: 32px;
background-color: #FFFFFF;
color: #0F2137;
border-radius: 10px;
box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.05);
}
.features-container-shadowed p{
  margin-left:20px;
width:475px;
font-family: 'dm-sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 32px;
/* or 213% */

color: #343D48;


}
.features-container-shadowed h4{
margin:0px 0px 0px 20px;
width:302px;
font-family: 'dm-sans-medium';
font-size: 16px;
font-weight: 100;
line-height: 30px;
}


.features-buttons a{
    text-decoration: none;
    color:#0F2137;
    font-family: 'dm-sans-medium';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
}
.featuresBtn1{
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top:15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0px 30px;
}
.features-buttons div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F6F8FB;
    min-height: 80px;
    max-width: 550px;
}
.features-buttons div img {
    height: 16px;
}
/* FEATURES */
/* WORKHARD */
#workHard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom:0px;
}
.workHard-header{
width:510px;
font-family: 'dm-sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* or 150% */
letter-spacing: -1.5px;

color: #0F2137;


}
.workHard-text{
width:470px;
font-family: 'dm-sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 42px;

color: #02073E;


}
.workHard-image img{
    height: 720px;
    width: 620px;
}
.first-column-wh img , .second-column-wh img {
 width:20px;
 height: 20px;
 margin-right:10px;


}
.benefit p {
margin-right: 50px;

 }

.workHard-benefits{
    font-family: 'dm-sans-medium';
font-style: normal;
font-weight: 500;
font-size: 16px;
/* or 281% */

color: #02073E;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.benefit{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 45px;
}
.workHard-content a{
text-decoration:none;

font-family: 'dm-sans-medium';
font-size: 16px;
line-height: 42px;
/* identical to box height, or 262% */

color: #3183FF;


}
/* WORKHARD */

/* SLIDE FEATURES */
#slideFeatures{
    background-color: #353448;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -5px;
}
.sf-content-header{
    display:flex;
    flex-direction: row;
width:458px;
margin-right:80px;
font-family: 'dm-sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* or 150% */
letter-spacing: -1.5px;

color: #FFFFFF;

}
.sf-text{
width:436px;
font-family: 'dm-sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 35px;
/* or 219% */

color: #FFFFFF;


}
.sf-button {
/* identical to box height, or 222% */
background:#FFC059;
border-radius: 5px;
width:163px;
height: 60px;
border:0px;
}
.sf-button a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'dm-sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 40px;
text-align: center;
}
.sf-image{
    width:829px;
    overflow: hidden;
}
.sf-image img{
    max-width: 100%;
    margin-left:80px;
}
.slideFeatures-content{
    display: flex;
    flex-direction: row;
    margin-left:15px;
}
.tab-section-sf {
    margin-bottom: 100px;
}
.tab-section-sf img {
    width: 1300px;
    padding-top: 100px;
}
/* SLIDE FEATURES */
/* PRICING PLAN */
#pricingPlan{
    background-color: #F9FAFC;
    margin-bottom: 0;
}
.title-pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:55px;
}
.title-pricing h3{

font-family: 'dm-sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 55px;
/* identical to box height, or 183% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -1.5px;
margin-bottom:-15px;
color: #0F2137;

}
.title-pricing p{

font-family: 'dm-sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */
display: flex;
align-items: flex-end;
text-align: center;
margin-bottom: 60px;
color: #858B91;


}
.checkkkbox{
    display: flex;
flex-direction: row;
align-items: center;
width:261px;
}
.checkkbox label, .checkkbox p{

margin-left:10px;
font-family: 'dm-sans-medium';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: -0.24px;

color: #0F2137;


}
input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;    
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #FFC059;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}
#pricingPlan{
    height:1200px;
}
.pricing-packs{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:50px;
}
.startup-pack , .premium-pack{
    background-color:#FFFFFF;
    width:480px;
    height:730px;
    padding:20px 0 0 40px;
    margin-left:25px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.1);
}
.premium-pack{
    margin-right:480px;
}
.startup-pack{
    margin-left:480px;
}
.startup-pack p, .premium-pack p {
    color:#FFC059;
    font-family: 'dm-sans';
    font-size:22px;
    font-weight:bold;
}
.startup-pack p span, .premium-pack p span {
    color:#FFC059;
    font-family: 'dm-sans';
    font-size:26px;
    font-weight:bold;
}
.pack-info p{

    width:291px;
    font-family: 'DM-Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    color: #343D48;
    
    opacity: 0.65;
    
    }
.pricing-packs h2{
/* Business Class */


font-family: 'dm-sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 29px;
/* identical to box height */
display: flex;
align-items: flex-end;
letter-spacing: -0.55px;

color: #0F2137;


}
.orange-benefit, .cross-benefit{
 display: flex;
 flex-direction: row;
 align-items: center;
}
.orange-benefit p{
width:291px;
font-family: 'dm-sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
display: flex;
align-items: flex-end;

color: #343D48;

}
.startup-pack img , .premium-pack img{
    width:380px;
    height:1px;
}
.cross-benefit p{
    /* Drag & Drop Builder 1,000's of Templates Blog Support Tools eCo */

width:291px;
font-family: 'DM-Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
display: flex;
align-items: flex-end;

color: #343D48;

opacity: 0.5;

}
.orange-benefit img{
    width:20px;
    height:20px;
    margin-right:10px;
}
.cross-benefit img{
    width:20px;
    height:20px;
    margin-right:10px;
}
.button-startupPack {
    margin-left:4px;
margin-top:30px;
    display:flex;
    align-items: center;
    width:163px;
    height:50px;
    flex-direction: column;
    justify-content: center;
    background:#fffcec;
    border-radius: 5px;
    font-family: 'dm-sans';
    font-weight: bold;
    font-size:18px;
    border:0px;
}
.button-startupPack a {
font-family: 'DM-Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
text-align: center;

color: #FFC059;


    text-decoration: none;
    text-align: center;


}
.button-premiumPack{
    margin-left:4px;
margin-top:30px;
    display:flex;
    align-items: center;
    width:163px;
    height:50px;
    flex-direction: column;
    justify-content: center;
    background:#FFC059;
    border-radius: 5px;
    font-family: 'dm-sans';
    font-weight: bold;
    font-size:18px;
    border:0px;
}
.button-premiumPack a{
    font-family: 'DM-Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
text-align: center;

color: #fffcec;


    text-decoration: none;
    text-align: center;

}
/* PRICING PLAN */
/* ALL COMMENTS */
#allComments{
    background-color: #FFFCF7;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:900px;
    margin-bottom: -300px;
}
#allComments h2 {

margin-bottom: -10px;
font-family: 'dm-sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 55px;
/* identical to box height, or 183% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -1.5px;

color: #0F2137;


}
#allComments p{
   
font-family: 'DM-Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */
display: flex;
align-items: flex-end;
text-align: center;

color: #858B91;


}
#allComments img{
    width:1600px;
}
.title-comments{
 display: flex;
 flex-direction: column;
 align-items: center;
}
/* ALL COMMENTS */
/* footer */
#footer{
height: 568px;
    background-color: #353448;
margin-bottom:-5px;
}
#footer h2{

margin-top:118px;
margin-bottom: 5px;
font-family: 'dm-sans-medium';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 50px;
/* identical to box height, or 156% */
text-align: center;
letter-spacing: -0.5px;

color: #FFFFFF;


}

.footer-text{
    font-family: 'dm-sans';
    font-style: normal;
    font-size: 16px;
    line-height: 50px;
    /* identical to box height, or 312% */
    text-align: center;
    letter-spacing: -0.5px;
    
    color: #FFFFFF;
    
    opacity: 0.6;
    }


.footer-button{
    margin-left:23px;
    background-color: #FFC059;
    color:#020718;
    border:0px;
border-radius:4px;
width:160px;
height:60px;
}
.footer-button a{
    text-decoration: none;
 
font-family: 'dm-sans-medium';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 50px;
/* identical to box height, or 278% */
letter-spacing: -0.5px;

color: #020718;

opacity: 0.8;

}

.footer-form input{
   padding-left:40px;
background-color: #484454;
font-family: 'DM-Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
/* identical to box height, or 312% */
width: 340px;
height: 60px;
border-radius: 5px;
border:0;
color:#FFFFFF;

}
.footer-form input::placeholder{
    color:#FFFFFF;
    opacity:0.8;
}
.interactive-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-tab{
    display: flex;
    justify-content: space-around;
    min-width: 1920px;
    height: 100px;
    background-color: #2B293E;
    margin-top:156px;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 65px;
}
.footer-logo p{
  
font-family: 'poppins-bold';
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: #FFFFFF;

opacity: 0.8;

}
.footer-logo img {
    height: 37px;
    width: auto;
    margin-right: 10px;
}

.copyright{

font-family: 'dm-sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #FFFFFF;

opacity: 0.7;

}
.leftside-footer, .rightside-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
  padding:20px;
}
.copyright{
    margin-left:-60px;
}
.rightside-footer a{
    text-decoration: none;
    padding: 10px;
  
font-family: 'dm-sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 33px;
/* identical to box height, or 206% */
display: flex;
align-items: center;
text-align: right;

color: #FFFFFF;


}
/* footer */
/*Media query*/
@media only screen and (max-width: 1650px) {
    .container{

    }
    .sf-image{
        overflow:unset;
    }
    .tab-menu{
        justify-content: space;
    }
    #workHard{
        justify-content: center;
    }
  }
@media only screen and (max-width: 1400px) {
    .startup-pack, .premium-pack {
        width:400px;
    }
    .top-menu{
        justify-content: space-around;
        margin-left:185px;
        max-width: 1400px;
    }
    .container{
        margin-left:150px;
    }
    .header-img img{
        margin-left:-50px;
        width: 550px;
        height: auto;
    }
    .header-content{
        margin-left:-125px;
    }
    .title-comments img{
        width:90%;
    }
    #service{
        max-width:1400px;
        margin-left:0px;
    }
    .features-image img{
        height:550px;
        width: auto;
        margin-left:-180px;
    }
    #workHard{
        justify-content: center;
    }
    .footer-tab{
        justify-content: center;
    }
     .leftside-footer{
        margin-right:25px;
        margin-left:-125px;
     }   
    .rightside-footer{
        margin-left:150px;
    }
    .footer-subscribe{
      margin-left:-125px;
    }
    .pricing-packs{
        margin-left:350px;
    }
    .startup-pack{
        margin-left:0px;
    }
    .title-pricing{
        margin-left: -125px;
    }
  }
@media only screen and (max-width: 1250px) {
    .startup-pack, .premium-pack {
        width:unset;
    }
   .leftside-header{
    margin-left:120px;
   }
   .rightside-header{
    margin-right:80px;
   }
   .flex-header-content{
    margin-left:80px;
   }
   .service1{
    margin-left:100px;
   }
   .workHard-content{
    margin-left:100px;
   }
   .slideFeatures-content{
    margin-left:100px;
   }
   .tab-section-sf{
    margin-left:100px;
   }
   .title-pricing, .pricing-packs{
    margin-left:100px;
   }
   .title-comments{
    margin-left:100px;
   }
   #footer h2, .footer-text, .interactive-footer{
    margin-left:100px;
   }
   .footer-tab{
    margin-left:-15px;
   }
   .rightside-footer{
    margin-left:50px;
   }
   .top-menu{
    max-width:900px;
    margin-left:300px;
   }
   .header-img{
    display: none;
   }
   #service{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .service1{
    margin-left:0;
    margin-bottom:50px;
   }
   .features-image{
    margin-left:-100px;
   }
   .workHard-content{
    margin-left:0px;
   }
   .workHard-image{
    margin-left:-75px;
   }

   .tab-section-sf img{
  display: none;
   }
   .sf-image img{
    margin-left:100px;
   }
   .sf-content{
    margin-right: -150px;
   }
   .pricing-packs{
    margin-left:350px;
    justify-content: center;
   }
   .premium-pack{
    margin-left:10px;
   }
   .title-pricing{
    margin-left:-125px;
   }
   .title-comments{
    margin-left:0;
   }
   .footer
}
@media only screen and (max-width: 991px) {
.top-nav ul{
    padding:0px;
}
.header-logo{
    margin-right: 0px;
}
.get-started-button{
    display: none;
}
.top-menu{
    margin-left: 425px;
}
.features-image{
    display: none;
}
.features-content{
    margin-left:-150px;
}
.workHard-image{
    display: none;
}
.workHard-content{
    margin-left:-150px;
}
.sf-image{
    display: none;
}
#slideFeatures{
    height: 625px;
}
.slideFeatures-content{
    margin-left:-225px;
    margin-top:-50px;
}
.startup-pack, .premium-pack {
    width:unset;
}
.footer-tab{
    margin-top:90px;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
}
.rightside-footer{
    margin-left:725px;
    padding:0px;
    padding-top: 25px;
}
.leftside-footer{
    margin-right:0;
    margin-left:675px;
    padding:0px;
    padding-bottom: 25px;
}
.footer-subscribe{
    margin-left:-225px;
}
.title-comments{
    margin-left:-150px;
}
  }
@media only screen and (max-width: 768px) {
  .top-menu{
    flex-direction: column;
    justify-content: center;
  }
  .leftside-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:0px;
  }
  .rightside-header{
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
  .header-content h1{
    font-size:48px;
    width:500px;
  }
  .header-text{
    width:400px;
  }
  .interactive-header{
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .sponsors{
    margin-left:-50px;
  }
  .pricing-packs{
    flex-direction: column;
    margin-left:-125px;
  }
  #pricingPlan{
    height: auto;
    margin-bottom: 25px;
  }
  .startup-pack{
    margin-bottom: 25px;
  }
  .premium-pack{
    margin-left:478px;
  }
  #footer h2{
    font-size:28px;
  }
  .interactive-footer  {
    flex-direction: column;
    align-items: center ;
    margin-right:25px;
  }
  .footer-form{
    margin-bottom: 25px;
  }
  .footer-tab{
    height: auto;
    margin-top:20px;
  }
}
@media only screen and (max-width: 500px) {
  .nav-ul img{
    display: none;
  }
  .interactive-header{
    margin-top:50px;
    margin-left:-100px;
  }
  .sponsors{
    flex-direction: column;
  }
  .sponsors img{
    padding:5px;
  }
  #header{
    height:1250px;
  }
  .service1, .service2{
  width:350px;
  height:250px;
  padding: 0 15px 0 15px;
  }
  .service-text{
    width: unset;
  }
  .features-header{
    font-size: 30px;
    width:350px;
    margin-left:25px;
    text-align: center;
  }
  .features-text{
    width:350px;
    margin-left: 25px;
  }
  .features-container-shadowed{
    width: 350px;
    padding-bottom: 45px;
    margin-left: 15px;
  }
  .features-container-shadowed p{
    width: 325px;
  }
  .features-buttons div{
    max-width: 325px;
  }
  .features-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .workHard-header{
    font-size: 30px;
    width:350px;
    margin-left:50px;
  }
  .workHard-text{
    width:350px;
    margin-left:50px;
  }
  .workHard-benefits{
    margin-left: 50px;
  }
  .workHard-content a{
    margin-left:75px;
  }
  .sf-content-header{
    font-size: 30px;
    width:350px;
  }
  .sf-text{
    font-size:14px;
    width:350px;
  }
  .startup-pack, .premium-pack{
    padding: 10px 0 0 20px;
    height:675px;
  }
  .startup-pack{
    margin-left:-25px;
  }
  .premium-pack{
    margin-left:450px;
  }
  #allComments{
    display: none;
  }
  #footer h2{
  font-size:22px;
  }
  .footer-text{
    font-size:14px;
  }
.leftside-footer{
margin-left:700px;
}
  .copyright p{
    font-size:12px;
  }
}      